@import url(./theme.css);
   html {
     scroll-behavior: smooth;
   }

body {
	background-image: var(--background-image);
	color: var(--text-color);
	padding: 0;
	margin: 0;
	font-family: var(--main-font-family);
}

a {
	color: var(--text-color);
}

section {
	/* border: 1px solid red; */
	padding: 0;
	margin: 0;
	box-shadow: 0 0 1rem #0005;
	
	
}
