   
   @font-face {
    font-family: cubano;
    src: url(../../public/asset/fonts/Cubano-family/Cubano/Cubano.ttf);
   }  
   @font-face {
    font-family: sofia-pro;
    src: url(../../public/asset/fonts/sofia-pro/sofiapro-light.otf);
   } 

   :root {
     /* Dark theme */
     --background-color: #12181B;
     --text-color: #B2BECD;
     --icon-url:  url('asset/imgs/moon.png');
     --gif-icon-url: url('asset/gifs/moon.gif');

     /*typography */
     --main-font-family:  sofia-pro,sans-serif;
     --second-font-family: cubano,sans-serif;

     /*colors*/
    --contexify-item-color: rgba(0, 0, 0, 0.87) !important;
    --contexify-activeItem-color: rgba(0, 0, 0, 0.87) !important;
    --contexify-activeArrow-color: rgba(0, 0, 0, 0.87) !important;
    --contexify-activeItem-bgColor: rgba(118, 1, 211, 0.04) !important;
    --orange-color: #F68013;
    --reddish-orange-color: #EF4444;
    --green-color: #22C55E;
    --light-purple-color: #A855F7;
    --yellow-color: #EAB308;
    --blue-color: rgb(31,154,255);
   }

   .light-theme {
     /* Light theme */
     --background-color: #fffa;
     --text-color: #12181B;
     --icon-url:  url('asset/imgs/sun.png'); 
     --gif-icon-url: url('asset/gifs/sun.gif');


   }
