---
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Education from "../components/Education.astro";
import WorkExperience from "../components/WorkExperience.astro";
import Projects from "../components/Projects.astro";
import Hobbies from "../components/Hobbies.astro";
import "../styles/global.css";
import { SEO } from "astro-seo";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <SEO
      title="Sajad Sarlaki"
      description="I made my personal website with Astro! No external libraries, just CSS for all the styling."
      openGraph={{
        basic: {
          title: "Sajad Sarlaki",
          type: "website",
          image: "/asset/imgs/twitter-preview.png",
        },
      }}
      twitter={{
        creator: "@Sajadsarlaki_",
      }}
      extend={{
        link: [
          { rel: "icon", href: "/asset/imgs/favicon.ico" },
          {
            rel: "apple-touch-icon",
            sizes: "180x180",
            href: "/asset/imgs/apple-touch-icon.png",
          },
          {
            rel: "icon",
            type: "image/png",
            sizes: "32x32",
            href: "/asset/imgs/favicon-32x32.png",
          },
          {
            rel: "icon",
            type: "image/png",
            sizes: "16x16",
            href: "/asset/imgs/favicon-16x16.png",
          },
          { rel: "manifest", href: "/asset/imgs/site.webmanifest" },
        ],
        meta: [
          { name: "viewport", content: "width=device-width, initial-scale=1" },
          { name: "msapplication-TileColor", content: "#da532c" },
          { name: "theme-color", content: "#ffffff" },
        ],
      }}
    />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FCP95DVKWL"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-FCP95DVKWL");
    </script>
  </head>

  <body>
    <Header />
    <main>
      <About />
      <WorkExperience />
      <Skills />
      <Projects />
      <Education />
      <!-- <Hobbies  /> -->
    </main>
  </body><!-- <script>
  const themeToggle = document.getElementById("theme-toggle");
  themeToggle.addEventListener("click", () => {
    document.body.classList.toggle("light-theme");
    const theme = document.body.classList.contains("light-theme")
      ? "light"
      : "dark";
    localStorage.setItem("theme", theme);
  });

  // Load the saved theme from localStorage
  document.addEventListener("DOMContentLoaded", () => {
    const savedTheme = localStorage.getItem("theme");
    if (savedTheme === "light") {
      document.body.classList.add("light-theme");
    }
  });
</script> -->
</html>
