---
import  '../styles/header.css'
import {header} from '../data/data.json';
---
<header>
     <h1>{header.title}</h1>
  <nav >
    <a href="#about">About ME</a>
    <a href="#skills">Skills</a>
    <a href="#education">Education</a>
    <a href="#work-experience">Work Experience</a>
    <a href="#project">Projects</a>
    <a href="#hobbies">Hobbies</a>
  </nav>
</header>
