   ---
   import {hobbiesContent} from '../data/data.json';
const {class:className } = Astro.props;

   ---

   <section id="hobbies">
     <h2>{hobbiesContent.title}</h2>
     <ul>
       {hobbiesContent.hobbies.map((hobby) => (
         <li>{hobby}</li>
       ))}
     </ul>
   </section>
