   ---
   import {projectsContent} from '../data/data.json';
   import SectionTitle from './SectionTitle.astro';
   ---


   <section id="projects">
     <h2>{projectsContent.title}</h2>
     <ul>
       {projectsContent.projects.map((project) => (
         <li>
           <strong>{project.name}</strong> - {project.description}
         </li>
       ))}
     </ul>
  <SectionTitle text="education" color="var(--blue-color)" hrefLink="#education"/>

   </section>

   <style>
    #projects{
      position: relative;
    }
   </style>
