---
const {
    text,
    color,
    hrefLink,
    beckon = true,
    position = "center",
} = Astro.props;
const { class: className } = Astro.props;
---

<a href={hrefLink}
    ><h2 style={`background-color:${color}`} class={position}>
        {text}
        {beckon ? <span class="beckon text-5xl block"> 👇</span> : ""}
    </h2>
</a>
<style>
    h2 {
        position: absolute;
        bottom: 6%;
    }
    h2 {
        font-size: 2.75rem;
        padding: 0.5rem 1.5rem;
        color: var(--background-color);

        font-family: var(--second-font-family);
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
            0 8px 10px -6px rgb(0 0 0 / 0.1);
        font-weight: 100;
    }
    .beckon {
        position: absolute;
        font-size: 1.75rem;
        animation: beckon-animation 1s cubic-bezier(0.8, 0, 1, 1) alternate
            infinite;
        bottom: -70%;
        left: 50%;
    }
    @keyframes beckon-animation {
        to {
            transform: translateY(-25%);
        }
    }

    .center {
        left: 50%;
        transform: translate(-50%, 0);
    }
    .right {
        right: 5%;
    }
    .left {
        left: 5%;
    }
    @media (max-width: 834px) {
        a {
            display: none;
        }
    }
</style>
