---
import { skillsContent } from "../data/data.json";
import SectionTitle from "./SectionTitle.astro";
import Animat from "./Animat.astro";
---

<section id="skills">
  <ul class="main-skill-list" >
    {
      skillsContent.skills.map((skill, index) => (
        <Animat  class="main-skill-item" delay={2*index + "00"} animationName="fadeIn-from-left" >
        <li>
          <img class="icon" src={skill.icon} alt="" />
          <h3 class="title">{skill.title}</h3>
          <ul>
            {skill.items.map((item) => (
              <li>{item}</li>
            ))}
          </ul>
        </li>
        </Animat>
      ))
    }
  </ul>
  <SectionTitle
    text="Projects"
    color="var(--green-color)"
    hrefLink="#projects"
    position="right"
  />
</section>

<style>
  #skills {
    position: relative;
  }
  .main-skill-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    place-items: center;
    gap: 3rem 10%;
    font-size: 1.2rem;
  }
  .main-skill-item {
    list-style-type: none;
    line-height: 1.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    background: linear-gradient(#12181b, #12181b) padding-box,
      linear-gradient(to right, #f55, #88f) border-box;
    border-radius: 0.5rem;
    border: 4px solid transparent;
    position: relative;
    min-width: 50%;
  }
   .main-skill-item>li li::marker{
    content: '▸ ';
    font-size: 1rem;
    color: #C76CA4
  }
  .icon {
    width: 3rem;
    position: absolute;
    top: -1.5rem;
    left: 0%;
    transform: translateX(-50%);
  }
  .title {
    margin: 0.5rem;
    /* text-decoration-line: underline; */
    border-bottom: 1px solid #fff5;
  }

  /* --------------------------------------------------------------------          Responsive         ------------------------------------------------------------------ */

  /* Responsive styles */
  @media (max-width: 576px) {
    .main-skill-list {
      grid-template-columns: 1fr;
    }
    .main-skill-item{
      margin: 0  2rem 0 0;
      width: 80%;
    }
  }

  @media (min-width: 577px) and (max-width: 768px) {
    .main-skill-list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 2rem;
    }
     .main-skill-item{
      margin: 0  2rem 0 0;
      width: 80%;
    }
  }

</style>
