   ---
   import {skillsContent} from '../data/data.json';
import SectionTitle from './SectionTitle.astro';
   ---


   <section id="skills">
     <h2>{skillsContent.title}</h2>
     <ul>
       {skillsContent.skills.map((skill) => (
         <li>{skill}</li>
       ))}
     </ul>
   <SectionTitle text="Projects" color="var(--green-color)" hrefLink="#projects"/>

   </section>

   <style>
    #skills{
      position: relative;
    }
   </style>
